@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.svg-fill-animation {
  clip-path: inset(100% 0 0 0); /* Start hidden */
  animation: fillUp 2s ease-in-out forwards;
}
/* 
@keyframes fillUp {
  0% {
    clip-path: inset(100% 0 0 0); 
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
} */

.letter-fill {
  /* Initially hide each letter’s fill */
  clip-path: inset(100% 0 0 0);
  animation: fillUp 2s ease-in-out forwards;
}

@keyframes fillUp {
  0% {
    clip-path: inset(100% 0 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}
